<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Kütüphane</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f8f9fa;
        }
        .container {
            text-align: center;
        }
        .btn-group-vertical {
            margin-top: 20px;
        }
        .btn-group-vertical .btn {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Kişisel Kütüphane</h1>
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-primary" id="viewLibrary">Kütüphaneyi Görüntüle</button>
            <button type="button" class="btn btn-success" id="addBook">Kitap Ekle</button>
            <!-- <button type="button" class="btn btn-warning" id="updateBook">Kitap Güncelle</button>
            <button type="button" class="btn btn-danger" id="deleteBook">Kitap Sil</button> -->
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/app.js"></script>
</body>
</html>
    