<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitap Güncelle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Kitap Güncelle</h1>
        <form id="updateForm">
            <input type="hidden" id="updateId" name="id">
            <div class="form-group">
                <label for="updateTitle">Kitap Adı</label>
                <input type="text" class="form-control" id="updateTitle" name="name" required>
            </div>
            <div class="form-group">
                <label for="updateAuthor">Yazar</label>
                <input type="text" class="form-control" id="updateAuthor" name="author" required>
            </div>
            <div class="form-group">
                <label for="updatePublicationYear">Yayın Yılı</label>
                <input type="number" class="form-control" id="updatePublicationYear" name="publication_year" required>
            </div>
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>